* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
.App {
  display: flex;
}
header {
  display: flex;
  justify-content: center;
  color: #3c6382;
  margin-bottom: 30px;
  margin-top: 50px;
}

.leftBar {
  width: 30%;
  max-width: 200px;
  height: 100%;
  border-right: 1px solid lightgrey;
  padding: 10px;
}
.main {
  width: 100%;
}
.showName {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 4px;
  color: #3c6382;
}
.showName:hover {
  background-color: #3c6382;
  color: #fff;
}
