* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  color: #3c6382;
  margin-bottom: 30px;
  margin-top: 50px;
}
.second-line {
  display: flex;
  justify-content: space-between;
}
